
body{
	background-color:#E1EEF2;
}

/*Bases*/


@media screen and (max-width:765px){
	.boxBase-One{
		background: linear-gradient(to right,#72c2ff,#66cdaa);
		border-radius:20px;
		width:412.16px;
		min-height:20%;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:20px;
		box-shadow:0px 0px 0px #848484;
	}
}
@media screen and (min-width:765px){
	.boxBase-One{
		background: linear-gradient(to right,#72c2ff,#66cdaa);
		border-radius:20px;
		width:50%;
		min-height:20%;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:20px;
		box-shadow:2px 2px 16px #848484;
	}
}
@media screen and (max-width:511px){
	.boxBase-One{
		width:90%;
		min-height:20%;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:20px;
		box-shadow:0px 0px 0px #848484;
	}
}
/*Encapsuladores de conteúdos*/

.menu-bar {
    background: linear-gradient(#1c1c1c,#7f7f7f);
    height: 40px;
    width: 100%;
    box-shadow: 0px 4px 2px #5a5a5a;
    border-radius: 20px 20px 0px 0px;
}

/*--------- Profile ----------*/
.boxBase-Two{
	background: rgb(202, 214, 217.0.4);
	height:200px;
	width:100%;
	margin-top:10px;
	border-radius:20px;
}

.boxContent-One{
	background-color: rgba(202, 214, 217,0.4);
	height:100%;
	width:49%;
	float:left;
	margin-left:0.63%;
	margin-right:0.63%;
	border-radius:20px 40px;
}
.boxContent-Two{
	background-color: rgba(202, 214, 217,0.4);
	height:100%;
	width:49%;
	float:right;
	margin-right:0.63%;
	border-radius:40px 20px;
}

/*--------------------*/
/*---- Area de Pesquisa -----*/
.boxBase-Three {
    background: linear-gradient(to right,#72c2ff,#66cdaa);
    height: 200px;
    width: 98%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 12px whitesmoke;
}


/*-------- Area dos Resultados das pesquisas ---------*/
.boxBase-Four {
	display:block;
    position: relative;
    background: linear-gradient(to right,#696f73,#66cdaa);
    min-height: 200px;
    width: 116%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
	padding-bottom:10px;
    left: -8%;
}
.boxContent-Infos {
    position: relative;
    width: 97%;
    height: 84px;
    background-color: #dadada;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    box-shadow: 0px 8px 8px #6d6d6d;
}
.molde-infos{
	display:none;
	position:relative;
	top:8%;
	margin-right:auto;
	margin-left:auto;
}
.molde-infos-pessoas{
	position:relative;
	display:table;
	margin-right:auto;
	margin-left:auto;
	top:40.48%;
}
.molde-infos td{
	background-color:#6A807B;
	color:white;
}
.infos-categories{
	text-align:center;
	font-weight:700;
}
/*--------------Zona de pesquisa por GRUPOS e PESSOAS------------------*/
.box-search{
	display:block;
	height:38px;
	width:100%;
	background-color:gray;
}
.molde-box-search{
	width:100%;
}

.inputs-search {
    height: 32px;
    width: 100%;
	border-radius:20px;
}
#filtro{
	height:32px;
	width:100%;
	border-radius:20px;
}
.molde-box-search button{
	height:32px;
	width:100%;
	background-color:#333c3f;
	color:white;
	border-radius:20px;
}
.molde-box-search button:hover{
	cursor:pointer;
	background-color:#49575b;
}
/*--------------sessão Lista de resultados da pesquisa de GRUPOS-------------*/
.boxContent-resultados{
	position:relative;
	width:97%;
	min-height:100px;
	background-color:white;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	border-radius:20px;
	padding-bottom:5px;
}

.boxContent-lista-resultados-grupos li{
	position:relative;
	list-style:none;
	display:block;
	background-color:gray;
	border-radius:20px;
	margin-right:20px;
	padding-left:10px;
	top:3px;
}

.info-nome-group{
	display:block;
	font-size:17px;
}
@media (max-width:618px){/*Não sei qual o sentido desse BLOCO com essa resolução*/

}
@media (min-width:618px){/*Não sei o porque esse bloco essaresolução existe*/

}

.info-adm-group[hasadm="no"] span{
	display:none;
}
.info-adm-group[hasadm="yes"] span{
	display:block;
	background: linear-gradient(#ffab1c,#ffd20a,#ffab1c);
	border-radius:20px;
	text-align:center;
	width:101px;
}
.info-adm-group[hasadm="yes"] span{
	display:block;
}
.info-qtd-members{
	display:block;
	color:white;
}
@media screen and (min-width:1060px){
	.action-join-button button{
		width:71px;
	}
}
@media screen and (min-width:900px) and (max-width:1060px){
	.action-join-button button{
		background-color:blue;
		color:white;
		width:71px;
		height:24px;
	}
}
@media screen and (min-width:795px) and (max-width:900px){
	.action-join-button button{
		display:block;
		background-color:red;
		/*333c3f*/
		color:white;
		width:71px;
		height:24px;
	}
}
@media screen and (min-width:618px){
	#molde-resultados-grupos-pesquisaTwo{
		display:none;
	}
	#molde-resultados-pessoas-pesquisaTwo{
		display:none;
	}
}
@media screen and (max-width:618px){
	.action-join-button button{
		display:block;
		background-color:green;
		color:red;
		width:71px;
		height:24px;
	}
	#molde-resultados-grupos-pesquisa{
		font-size:16px;
		display:none;
	}
	
	#molde-resultados-pessoas-pesquisa{
		display:none;
	}
}
@media screen and (max-width:415px){/*Tela pequena demais. Troca de MOLDE TABELA que encapsulam as informações*/
	#molde-resultados-grupos-pesquisa{
		display:none;
	}
	
	#molde-resultados-pessoas-pesquisa{
		display:none;
	}
	
	#molde-resultados-grupos-pesquisaTwo{
		display:table;
	}
	#molde-resultados-pessoas-pesquisaTwo{
		display:table;
	}
}
.action-join-button button{
	display:block;
	background-color:#333c3f;
	color:white;
}
.action-join-button button:hover{
	background-color:#ffab1c;
	cursor:pointer;
}

/*--------------sessão Lista de resultados da pesquisa de PESSOAS-------------*/


@media screen and (max-width:970px){
	#molde-resultados-grupos-pesquisa{
		font-size:12px;
	}
	#molde-resultados-grupos-pesquisaTwo{
		font-size:12px;
	}
	#molde-resultados-pessoas-pesquisa{
		font-size:12px;
	}
	#molde-resultados-pessoas-pesquisaTwo{
		font-size:12px;
	}
}
#molde-resultados-grupos-pesquisa{
	width:100%;
}
#molde-resultados-pessoas-pesquisa{
	width:100%;
}
.boxContent-lista-resultados-pessoas{
	display:block;
}
.boxContent-lista-resultados-pessoas li{
	position:relative;
	list-style:none;
	display:block;
	background-color:gray;
	border-radius:20px;
	margin-right:20px;
	padding-left:10px;
	top:3px;
}

.info-nome-group{
	display:block;
	font-size:17px;
}

.info-adm-group[isme="yes"] span{
	display:block;
	background: linear-gradient(#ffab1c,#ffd20a,#ffab1c);
	border-radius:20px;
	text-align:center;
	width:101px;
}

.info-adm-group[hasadm="no"] span{
	display:none;
	
}

.info-qtd-members{
	display:block;
	color:white;
}

.action-join-button button:hover{
	background-color:#ffab1c;
	cursor:pointer;
}

/*----------------Profile Informações--------------------*/
.molde-profile-data{
	position:relative;
	margin-left:20px;
	margin-top:30px;
}
#nome{
	font-size:29px;
}

#prefixoMoney{
	display:block;
	position:relative;
	font-size:20px;
	font-weight:700;
	color:white;
	margin-left:20px;
}
#unidade-toon-money{
	display:block;
	font-size:20px;
	text-align:left;
	margin-left:20px;
	width:100px;
}
.money-box-info{
	width:100%;
	height:100%;
	min-height:34px;
	/*background-color:#6a807b;*/
}
.prefixoMoneyBox{
	/*background-color:gray;*/
	height:100%;
	width:49%;
	float:left;
	padding-top:20px;
}
.prefixoMoneyBoxTwo{
	/*background-color:gray;*/
	height:100%;
	width:49%;
	float:right;
	padding-top:20px;
}
/*-----------------Menu-----------------*/
.botoes-menu{
	height:100%;
	background-color:#333c3f;
	color:white;
	border-radius:20px;
}
.botoes-menu:hover{
	background-color:#49575b;
	cursor:pointer;
	color:#41a6bf;
}
.box-menu-bar{
	margin-left:auto;
	margin-right:auto;
	width:243px;
}
.button-negocios{
	
}
.button-configuracoes{
	
}
.button-friends{
	
}




